body {
    margin: 0;
    padding: 0;
    background-color: #EAECEE;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}
#container {
    margin: 0 auto;
    padding: 0 20px 10px 20px;
    border: 1px solid #666666;
    width: 865px; /* subtract 40px from banner width for padding */
    background: #FFFFFF url("#{resource['img:logo.png']}") no-repeat;
    padding-top: 110px;   
}

#identity-nav{
    position: relative;
    float: right;
    margin: -90px 0px 0px;
}

#identity-nav table{
	float: right;
	margin: 0px;
}

#content{
	min-height: 300px;	
}
#sidebar {
    font-size: 0.9em;
    width: 1px;
    float: left;
    border: 1px solid #666666;
    background: #EAECEE;
    padding: 0 15px 5px 15px;
}
#sidebar ul {
    padding-left: 30px;
}
#footer {
    clear: both;
    text-align: center;
    color: #666666;
    font-size: 0.85em;
    padding: 3em 0 0 0;
}
code {
    font-size: 1.1em;
}

.messages {
    list-style-type: none;
}

.invalid {
    color: red;
}

.warn {
    color: orange;
}

.valid {
    color: green;
}

.v-centered {
    margin-left:auto;
    margin-right:auto;
    
}
.h-down-200{
	position: relative;
	top : 40px;
}

.width-300{
	width:300px;
}
.ui-widget, .ui-widget .ui-widget {
font-size: 13px !important;
}

